* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Bitter", serif;
  color: #6d6d6d;
}

section {
  padding: 100px 0;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 10px;
  text-align: center;
}

h4 {
  font-family: "Bitter", serif;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

header {
  background-image: url("https://images.pexels.com/photos/3183132/pexels-photo-3183132.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  height: 100%;
}

header nav {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

header nav .nav-logo {
  font-family: "Nosifer", cursive;
  font-size: 30px;
}

header nav .wrapper {
  display: flex;
  align-items: center;
}

header nav ul {
  display: block;
  list-style-type: none;
}

header nav li {
  display: inline-block;
}

header nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

header .splash {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

header .splash .splash-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .splash button {
  padding: 20px 25px;
  background-color: #f0cc00;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin: 15px;
  font-family: "Nunito Sans", sans-serif;
}

header .splash h1 {
  font-size: 35px;
  margin: 15px 20px;
  font-family: "Bitter", serif;
  font-style: italic;
  font-weight: 200;
  color: #fff;
  text-align: center;
}

header .splash h2 {
  font-size: 55px;
  margin: 15px 30px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

header > * {
  z-index: 10;
  position: relative;
}

.services .service {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services i {
  font-size: 40px;
  position: relative;
  color: #f0cc00;
  margin-bottom: 40px;
}

.services i:after {
  width: 70px;
  height: 70px;
  color: #f0cc00;
  border: #f0cc00 3px solid;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services p,
.portfolio p {
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.services .container,
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .row,
.portfolio .row {
  margin-top: 50px;
}

.portfolio {
  background-color: #f3f3f2;
}

.portfolio-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.portfolio-item .portfoli-photo {
  height: 300px;
  width: 100%;
}

.portfolio-item .portfolio-desc {
  padding: 24px;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-item h3 {
  margin-top: 0px;
}

footer .copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .row {
  padding: 40px 0;
}

footer p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
}

footer li {
  display: inline-block;
}

footer .icon {
  height: 40px;
  width: 40px;
  background-color: #f0cc00;
  border-radius: 50%;
  margin: 0 20px;
  text-align: center;
  font-size: 0;
}

footer .icon i {
  line-height: 40px;
  font-size: 20px;
  color: #fff;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFXQTtFQUNHLFNBQVM7RUFDVCxVQUFVO0VBQ1YsU0FBUztFQUNULDRCQVJ3QjtFQVN4QixjQWJzQjtBQ0d6Qjs7QURhQTtFQUNHLGdCQUFnQjtBQ1ZuQjs7QURZQTtFQUNHLHNDQWZtQztFQWdCbkMsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQix5QkFBeUI7RUFDekIsY0F0QmtCO0VBdUJsQixtQkFBbUI7QUNUdEI7O0FEV0E7RUFDRyxzQ0F2Qm1DO0VBd0JuQyxlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLGNBN0JrQjtFQThCbEIsWUFBWTtFQUNaLGtCQUFrQjtBQ1JyQjs7QURVQTtFQUNHLDRCQWhDd0I7RUFpQ3hCLGVBQWU7RUFDZixnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLGtCQUFrQjtBQ1ByQjs7QURVQTtFQUNHLHdJQUF3STtFQUN4SSwyQkFBMkI7RUFDM0Isc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixrQkFBa0I7QUNQckI7O0FERUE7RUFPTSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLG1CQUFtQjtFQUNuQixrQkFBa0I7RUFDbEIsT0FBTztFQUNQLFlBQVk7QUNMbEI7O0FEUEE7RUFnQk0sVUFBVTtFQUNWLGFBQWE7RUFDYixtQkFBbUI7RUFDbkIsOEJBQThCO0VBQzlCLGNBQWM7QUNMcEI7O0FEZkE7RUFzQlMsK0JBM0RxQjtFQTREckIsZUFBZTtBQ0h4Qjs7QURwQkE7RUEwQlMsYUFBYTtFQUNiLG1CQUFtQjtBQ0Y1Qjs7QUR6QkE7RUE4QlMsY0FBYztFQUNkLHFCQUFxQjtBQ0Q5Qjs7QUQ5QkE7RUFrQ1MscUJBQXFCO0FDQTlCOztBRGxDQTtFQXFDUyxxQkFBcUI7RUFDckIsV0FoRlM7RUFpRlQsY0FBYztBQ0N2Qjs7QUR4Q0E7RUEyQ00sYUFBYTtFQUNiLHNCQUFzQjtFQUN0QixPQUFPO0VBQ1AsdUJBQXVCO0FDQzdCOztBRC9DQTtFQWdEUyxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLG1CQUFtQjtBQ0c1Qjs7QURyREE7RUFxRFMsa0JBQWtCO0VBQ2xCLHlCQXBHVztFQXFHWCxXQWpHUztFQWtHVCxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGVBQWU7RUFDZixnQkFBZ0I7RUFDaEIsWUFBWTtFQUNaLHNDQW5HNkI7QUN1R3RDOztBRGpFQTtFQWdFUyxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLDRCQXpHa0I7RUEwR2xCLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsV0EvR1M7RUFnSFQsa0JBQWtCO0FDSzNCOztBRDNFQTtFQXlFUyxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLGdCQUFnQjtFQUNoQixzQ0FsSDZCO0VBbUg3Qix5QkFBeUI7RUFDekIsV0F4SFM7RUF5SFQsa0JBQWtCO0FDTTNCOztBREZBO0VBQ0csV0FBVztFQUNYLGtCQUFrQjtFQUNsQixNQUFNO0VBQ04sT0FBTztFQUNQLFdBQVc7RUFDWCxZQUFZO0VBQ1osdUJBQXVCO0VBQ3ZCLFlBQVk7RUFDWixVQUFVO0FDS2I7O0FESEE7RUFDRyxXQUFXO0VBQ1gsa0JBQWtCO0FDTXJCOztBREhBO0VBRU0sYUFBYTtFQUNiLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsbUJBQW1CO0FDS3pCOztBRFZBO0VBU00sZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixjQTVKYztFQTZKZCxtQkFBbUI7QUNLekI7O0FEakJBO0VBZU0sV0FBVztFQUNYLFlBQVk7RUFDWixjQWxLYztFQW1LZCx5QkFBNkI7RUFDN0IsV0FBVztFQUNYLGtCQUFrQjtFQUNsQixrQkFBa0I7RUFDbEIsUUFBUTtFQUNSLFNBQVM7RUFDVCxnQ0FBZ0M7QUNNdEM7O0FESEE7O0VBR00sZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixxQkFBcUI7RUFDckIsZ0JBQWdCO0FDS3RCOztBRFhBOztFQVNNLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsbUJBQW1CO0FDT3pCOztBRGxCQTs7RUFjTSxnQkFBZ0I7QUNTdEI7O0FETEE7RUFDRyx5QkE5THFCO0FDc014Qjs7QUROQTtFQUNHLHNCQTlMZTtFQStMZixhQUFhO0VBQ2Isc0JBQXNCO0FDU3pCOztBRFpBO0VBS00sYUFBYTtFQUNiLFdBQVc7QUNXakI7O0FEakJBO0VBU00sYUFBYTtBQ1luQjs7QURyQkE7RUFZTSxXQUFXO0VBQ1gsWUFBWTtFQUNaLG9CQUFpQjtLQUFqQixpQkFBaUI7QUNhdkI7O0FEM0JBO0VBaUJNLGVBQWU7QUNjckI7O0FEVkE7RUFFTSxhQUFhO0VBQ2IsMkJBQTJCO0VBQzNCLG1CQUFtQjtFQUNuQixZQUFZO0FDWWxCOztBRGpCQTtFQVFNLGFBQWE7RUFDYixtQkFBbUI7RUFDbkIsdUJBQXVCO0FDYTdCOztBRHZCQTtFQWFNLGVBQWU7QUNjckI7O0FEM0JBO0VBZ0JNLHNDQTlOZ0M7RUErTmhDLGVBQWU7QUNlckI7O0FEaENBO0VBb0JNLHFCQUFxQjtBQ2dCM0I7O0FEcENBO0VBdUJNLFlBQVk7RUFDWixXQUFXO0VBQ1gseUJBL09jO0VBZ1BkLGtCQUFrQjtFQUNsQixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLFlBQVk7QUNpQmxCOztBRDlDQTtFQStCUyxpQkFBaUI7RUFDakIsZUFBZTtFQUNmLFdBblBTO0FDc1FsQiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */