$color-main: #f0cc00;
$color-details1: #f3f3f2;
$color-details2: #564ecd;
$color-font-main: #6d6d6d;
$color-white: #fff;
$color-black: #000000;

$font-main: "Bitter", serif;
$font-title: "Nunito Sans", sans-serif;
$font-logo: "Nosifer", cursive;

* {
   border: 0;
   padding: 0;
   margin: 0;
   font-family: $font-main;
   color: $color-font-main;
}

section {
   padding: 100px 0;
}
h2 {
   font-family: $font-title;
   font-size: 40px;
   font-weight: 700;
   text-transform: uppercase;
   color: $color-black;
   margin-bottom: 10px;
}
h3 {
   font-family: $font-title;
   font-size: 18px;
   font-weight: 700;
   color: $color-black;
   margin: 10px;
   text-align: center;
}
h4 {
   font-family: $font-main;
   font-size: 18px;
   font-weight: 200;
   font-style: italic;
   text-align: center;
}

header {
   background-image: url("https://images.pexels.com/photos/3183132/pexels-photo-3183132.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-position: center;
   background-size: cover;
   height: 60vh;
   position: relative;
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      flex: 1;
      height: 100%;
   }

   nav {
       
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0;
      .nav-logo {
         font-family: $font-logo;
         font-size: 30px;
      }
      .wrapper {
         display: flex;
         align-items: center;
         
      }
      ul {
         display: block;
         list-style-type: none;
      }
      li {
         display: inline-block;
      }
      a {
         text-decoration: none;
         color: $color-white;
         margin: 0 10px;
         font-family: $font-title;
      }
   }
   .splash {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      .splash-inner {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      h1 {
         font-size: 35px;
         margin: 15px 20px;
         font-family: $font-main;
         font-style: italic;
         font-weight: 200;
         color: $color-white;
         text-align: center;
      }
      h2 {
         font-size: 55px;
         margin: 15px 30px;
         font-weight: 600;
         font-family: $font-title;
         text-transform: uppercase;
         color: $color-white;
         text-align: center;
      }
   }
   button {
    padding: 20px 25px;
    background-color: $color-main;
    color: $color-white;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 15px;
    font-family: $font-title;
 }
}
header:after {
   content: ""; // ::before and ::after both require content
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.3;
   z-index: 1;
}
header > * {
   z-index: 10;
   position: relative;
}

.services {
   .service {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
   }

   i {
      font-size: 40px;
      position: relative;
      color: $color-main;
      margin-bottom: 40px;
   }
   i:after {
      width: 70px;
      height: 70px;
      color: $color-main;
      border: $color-main 3px solid;
      content: ""; // ::before and ::after both require content
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
.services,
.portfolio {
   p {
      font-size: 15px;
      text-align: center;
      letter-spacing: 0.3px;
      font-weight: 300;
   }
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .row {
      margin-top: 50px;
   }
}

.portfolio {
   background-color: $color-details1;
}
.portfolio-item {
   background-color: $color-white;
   display: flex;
   flex-direction: column;
   height: 100%;
   .portfoli-photo {
      height: 300px;
      width: 100%;
   }
   .portfolio-desc {
      padding: 24px;
   }
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   h3 {
      margin-top: 0px;
   }
}

footer {
   .copyright {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
   }
   .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
   .row {
      padding: 40px 0;
   }
   p {
      font-family: $font-title;
      font-size: 13px;
   }
   li {
      display: inline-block;
   }
   .icon {
      height: 40px;
      width: 40px;
      background-color: $color-main;
      border-radius: 50%;
      margin: 0 20px;
      text-align: center;
      font-size: 0;
      i {
         line-height: 40px;
         font-size: 20px;
         color: $color-white;
      }
   }
}

@media (max-width: 767px) {
    p{
        font-size: 18px!important;
    }

    h3{
        font-size: 25px;
    }
    header {
        nav {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            margin: 20px 0;
            align-items: center;
            .nav-logo{
                margin-top: 25px;
                font-size: 50px;
            }
            a{
                font-size: 16px;
            }

        }

        button{
            font-size: 20px;
        }
        .splash {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: flex-start;
            h2{
                font-size: 30px;
            }
            h1{
                font-size: 34px;
            }
        }
    }
    .services{

    i{
        font-size: 80px;
    }
     i:after {
        width: 130px;
        height: 130px;
        border: $color-main 5px solid;

     }

   }
   .portfolio-item {
      .portfoli-photo {
         height: 300px;
         width: 100%;
      }
      .portfolio-desc {
         padding: 35px 10px;
      }
   }
   .mb{
    margin-bottom: 40px;
    }
    footer{
        .row{
            flex-direction: column-reverse;
        }
        .copyright{
            justify-content: center;
            margin-top: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
   header {
      nav {
         width: 100%;
         a{
            font-size: 16px;
        }
      }
   }
   .services{
       .service{
           padding: 5px;
       }
   }
   .portfolio-item {
      .portfoli-photo {
         height: 200px;
         width: 100%;
      }
      .portfolio-desc {
         padding: 15px;
      }
   }
}
